@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');


.hero-section {
    background-color: #F4F4F4;
    padding: 60px 0;
    font-family: 'Inter', sans-serif;
    background-size: cover;
    background-position: center;
    padding-bottom: 0px !important;
}

@media (min-width: 992px) {
    .hero-section .mn {
        margin-top: -6rem;
    }
}

@media (max-width: 768px) {
    .hero-section img {
        margin-top: 2.4rem;
    }
}

.feature-box {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: 'Inter', sans-serif;
}
.dark-section {
    background-color: #000;
    color: #fff;
    padding: 60px 0;
    font-family: 'Inter', sans-serif;
}
.download-section {
    background-color: #f8f9fa;
    padding: 60px 0;
    font-family: 'Inter', sans-serif;
    margin-top: 6rem;
    background-image: url('footerbg.png');
    background-size: cover;
    background-position: center;
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.download-section h2 {
    color: #000;
    font-family: Jost;
    font-size: 2.1875rem; /* 35px in rem */
    font-style: normal;
    font-weight: 600;
}

.download-section p {
    color: #000;
    font-family: Inter;
    font-size: 1rem; /* 16px in rem */
    font-weight: 400;
}


.nav-link {
    position: relative;
    display: inline-block;
    transition: color 0.3s, transform 0.3s;
    font-family: 'Inter', sans-serif;
    font-size: 0.875rem; /* 14px in rem */
    font-weight: 500; /* Medium font weight */
}
.nav-link::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}
.nav-link:hover {
    transform: translateY(-3px);
}
.nav-link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.cta {
    background-color: #000;
    border-color: #000;
    border-radius: 12px !important;
    font-family: 'Inter', sans-serif !important;
    font-size: 14px !important;
    height: 2.688rem !important;
    display: flex !important;
    align-items: center;
    width: max-content;
    transition: transform 0.3s ease-out;
}
.cta:hover {
    transform: translateY(-5px);
}

h1 {
    font-weight: 600 !important;
    font-size: 3.375rem !important; /* 54px in rem */
    font-family: Jost; !important;
}
.desc {
    font-size: 1.25rem !important; /* 20px in rem */
    font-weight: 400 !important;
    font-family: 'Inter', sans-serif !important;
    color: #74777E !important;
}

.cardmain {
    border-radius: 20px;
    background: var(--Primery-White, #FFF);
    box-shadow: 0px 8px 66.8px -4px rgba(0, 0, 0, 0.07);
    display: flex;
    flex-direction: column;
    height: 100%;
    transition: background-color 0.3s, color 0.3s;
}

.cardmain:hover {
    background-color: #000;
    color: #FFF;
}

.cardmain h5 {
    font-family: Jost;
    font-size: 1.3rem; /* 24px in rem */
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    transition: color 0.3s;
}

.cardmain:hover h5 {
    color: #FFF;
}

.cardmain p {
    color: var(--Secondery-Grey-500, #74777E);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    transition: color 0.1s;
}

.cardmain:hover p {
    color: #FFF;
}

.icon-box {
    display: flex;
    border-radius: 8px;
    background: #F3F3F3;
    width: 3.875rem; /* 62px in rem */
    height: 3.875rem; /* 62px in rem */
    padding: 0.625rem; /* 10px in rem */
    justify-content: center;
    align-items: center;
    margin-bottom: 1.25rem; /* 20px in rem */
    transition: background-color 0.1s;
}

.cardmain:hover .icon-box {
    background: #4e4e4e;
}

.icon-box i {
    font-size: 1.875rem; /* 30px in rem */
    transition: color 0.1s;
}

.cardmain:hover .icon-box i {
    color: #FFF;
}

.hsearch {
    border-radius: 2.5rem; /* 40px in rem */
    background: #000;
    padding-top: 6rem;
    /* padding-bottom: 6rem; */
    padding-left: 4rem !important;
    padding-right: 4rem !important;
}

.hsearch h2 {
    color: #FFF;
    font-family: Jost;
    font-size: 2.1875rem; /* 35px in rem */
    font-style: normal;
    font-weight: 600;
}

.hsearch p {
    color: #FFF;
    font-family: Inter;
    font-size: 0.875rem; /* 14px in rem */
    font-style: normal;
    font-weight: 400;
}

.hsearch img {
    width: 80%;
    height: auto;
}


.client {
    display: flex;
    justify-content: center;
    align-items: center !important;
    margin-top: 5rem !important; /* 32px in rem */
    margin-bottom: 5rem !important; /* 32px in rem */
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
}

.client img {
    max-width: 100%;
    height: auto;
    border-radius: 1rem; /* 16px in rem */
}

.client h2 {
    font-family: Jost;
    font-size: 2.183rem; /* 24px in rem */
    font-weight: 600;
    color: #333;
    margin-top: 1rem; /* 16px in rem */
}

.client p {
    font-family: Inter;
    font-size: 1rem; /* 16px in rem */
    font-weight: 400;
    color: #666;
    margin-top: 0.5rem; /* 8px in rem */
}


